body.modal-open {
    overflow-y: hidden;

    /* Glassmorphism effect: adjust the blur radius as needed */
}

/* Modal Container */
#customModal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #9b85a3;
    background-image: radial-gradient(at 20% 85%,
            hsl(257, 42%, 32%) 0px,
            transparent 50%),
        radial-gradient(at 79% 6%, hsl(233, 67%, 50%) 0px, transparent 50%),
        radial-gradient(at 11% 70%, hsl(235, 69%, 31%) 0px, transparent 50%);
}

/* Modal Content */
#customModal .modalContent {
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    /* White font color for contrasting with the background */
    backdrop-filter: blur(17px) saturate(177%);
    -webkit-backdrop-filter: blur(17px) saturate(177%);
    background-color: rgba(17, 25, 40, 0.89);
    /* Darker background color with alpha for transparency */
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 80%;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the modal horizontally */
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    max-width: 300px;
    height: 45px;
    padding: 12px;
    border-radius: 16px;
    border: 1.5px solid lightgrey;
    outline: none;
    background-color: #172121;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    color: #e5e5f7;
}

input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

input:active {
    transform: scale(0.95);
}

input:focus {
    width: 400px;
    border: 2px solid grey;
}