body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-block: 0;
  padding: 0;
  max-width: 1440px;
  margin-inline: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

/* Reset some default styles */
body,
h1 {
  padding: 0;
}

/* Header styles */
.header {
  background-color: #252627;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

main {
  padding: 1rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-auto-rows: auto;
  gap: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card__description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.card__delete {
  color: #666;
  font-size: 0.8rem;
  text-align: right;
  cursor: pointer;
}

.card__delete:hover {
  color: red;
}

.card__edit {
  color: #666;
  font-size: 0.8rem;
  text-align: right;
  cursor: pointer;
}

.card__edit:hover {
  color: #646cff;
}

/* Company name styles */
.company-name {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Add button styles */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

button.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

button.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

button.button .button__icon {
  position: absolute;
  transform: translateX(105px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button .svg {
  width: 30px;
  stroke: #fff;
}

button.button:hover {
  background: #34974d;
}

button.button:hover .button__text {
  color: transparent;
}

button.button:hover .button__icon {
  width: 148px;
  transform: translateX(-5px);
}

button.button:active .button__icon {
  background-color: #2e8644;
}

button.button:active {
  border: 1px solid #2e8644;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-submit {
  text-align: center;
}

.form-submit button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit button:hover {
  background-color: #0056b3;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}  */